numpy==1.20.3
scipy==1.4.1
Pillow==8.4.0
cython==0.29.24
matplotlib
scikit-image==0.16.2
tensorflow==2.0.0
keras==2.2.5
opencv-python==4.5.4.60
h5py==2.10.0
imgaug==0.4.0
IPython[all]
asgiref==3.0.0
Django==2.2.3
django-cors-headers==1.2.2
djangorestframework==3.10.3
djangorestframework-simplejwt==1.4
gunicorn==19.9.0
mysqlclient==1.4.0
packaging==19.1.0
PyJWT==2.4.0
pytz==2021.1
sqlparse==0.4.0
tzdata==2020.5
whitenoise==5.3.0
